* {
    box-sizing: border-box;
    background-color: lightpink;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    margin: 0;
}

header {
    color: purple;
    font-size: 6vmin;
    letter-spacing: 2vmin;
}

h2 {
    font-size: 5vmin;
    color: red;
}

#markers {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: 1vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: -2vmin;
}

#board>div {
    border: 0.5vmin solid black;
}

button {
    color: grey;
    border: 0.1vmin solid grey;
    border-radius: 2vmin;
    font-size: 4vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    transition: transform 150ms ease-in;
}

button:hover {
    color: white;
    background-color: darkgrey;
    transform: scale(1.2);
    transition: transform 150ms ease-in;
}